:root {
    --dark-bg: #282828;
    --dark-bg-dark-shadow: #222222;
    --dark-bg-light-shadow: #2e2e2e;
    --box-shadow-inset: inset 2px 2px 3px var(--dark-bg-dark-shadow),inset -2px -2px 3px var(--dark-bg-light-shadow);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

body {
    background-color: var(--dark-bg);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

input {
    width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}