.pa-4 {
    padding: 4px;
}

.ma-v-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.ma-v-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.no-select {
    user-select: none;
}

.card-table table {
    width: 100%;

    tbody tr {
        td:first-child {
            padding-left: 16px;
        }

        td:last-child {
            padding-right: 16px;
        }

        td {
            text-overflow: ellipsis;
            overflow: hidden;
            padding-left: 10px;
            padding-right: 4px;
        }

    }
}