.application-container {
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.application-upper {
    max-height: calc(100% - 100px);
}
.application-controls {
    flex: 0 0 100px;
}
.application-sidebar {
    flex: 0 0 350px;
    min-width: 200px;
    max-width: 500px;
    transition: width .2s;
}
.application-media {
    border-radius: 10px;

    .application-media-card {
        overflow: hidden;
        display: flex;
    }
}
.application-controls, .application-navigation, .application-media, .application-main {
    padding: 10px;
}


.application-drag-container {
    padding: 10px;
    
    height: 100%;

    .dragbar {
        border: 0;
        width: 7px;
        height: 100%;
        border-radius: 10px;
        box-shadow: var(--box-shadow-inset);
        cursor: col-resize;
    }
}