.flex-parent {
    display: flex;

    & > .flex-child {
        flex: 1;
    }

    &.flex-column {
        flex-direction: column;
    }
    &.flex-row {
        flex-direction: row;
    }
}
.flex-align {
    &-center {
        align-items: center;
    }
}
.flex-justify {
    &-space-evenly {
        justify-content: space-evenly;
    }
}
.fill-element {
    height: 100%;
    width: 100%;
}