.flex-parent {
    display: flex;

    & > .flex-child {
        flex: 1;
    }

    &.flex-column {
        flex-direction: column;
    }
    &.flex-row {
        flex-direction: row;
    }
}
.fill-element {
    height: 100%;
    width: 100%;
}