.home-view-card {
	height: 100%;
	overflow-y: auto;
}

.home-container {
	padding: 10px;
	height: 100%;
	overflow-y: hidden;
}

.page-container {
	margin-left: 10px;
	margin-top: 10px;
}

.home-view-card * p,
ul {
	margin-bottom: 40px;
}

.home-view-card * p a {
	color: var(--primary);
}

.home-view-card * p a:hover {
	color: var(--primary-dark);
}

.home-view-card * ul {
	margin-left: 34px;
}

.home-view-card-header {
	text-align: center;
}

.home-img {
	height: 200px;
}