.home-view-card {
	height: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.home-container {
	padding: 10px;
	height: 100%;
	overflow-y: hidden;
}

.home-view-card {

	* p,
	ul {
		margin-bottom: 40px;
	}

	* ul {
		margin-left: 34px;
	}

	* p a {
		color: var(--primary);

		&:hover {
			color: var(--primary-dark);
		}
	}

	.home-view-card-header {
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.home-img {
		height: 200px;
	}
}