.lyrics-container {
  white-space: pre-line;
  padding: 10px;
  margin-top: 10px !important;
  height: 100%;
  overflow-y: hidden;
}

.lyrics-search-form {
  margin: 10px;
  flex-wrap: wrap;
  & > * {
    margin: 10px 0;
    &:not(:last-child) {
      margin-right: 10px !important;
    }
  }
  .lyrics-search-field {
    margin: 0;
  }
}

.lyrics-content, .lyrics-results-container {
  height: 100%;
  overflow-y: auto;
}

.lyrics-result-container {
  height: 100%;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  .lyrics-result-item {
    cursor: pointer;
    margin: 10px;
    flex: 0 0 1;
    height: 210px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    &:hover > img {
      opacity: 0.5;
    }
    &:active {
      box-shadow: var(--box-shadow-inset);
    }

    & > img {
      object-fit: cover;
      width: 340px;
      height: 210px;      
      opacity: .2;
      transition: opacity .2s;
    }
    .lyrics-result-text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 10px;
      .title {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    }
  }
}