.lyrics-container {
  white-space: pre-line;
  padding: 10px;
  margin-top: 10px !important;
  height: 100%;
  overflow-y: hidden;
}

.lyrics-search-form {
  margin: 10px;
  flex-wrap: wrap;
  & > * {
    margin: 10px 0;
    &:not(:last-child) {
      margin-right: 10px !important;
    }
  }
  .lyrics-search-field {
    margin: 0;
  }
}

.lyrics-content {
  height: 100%;
  
  overflow-y: auto;
}