.media-controls {
    padding: 8px 2%;
    
    &-right {
        align-items: right;
        text-align: right;
        margin-right: 0%;
    }
    &-left, &-right {
        flex: 0 0 300px;
        padding: 0 10px;
    }
    &-center {
        align-items: center;
        text-align: center;
        &-buttons {
            margin: 5px;
            & > * {
                margin: 0px 10px;
                & svg {
                    transition: fill .1s;
                }
                &:hover svg {
                    fill: var(--primary);
                }
            }
             
        }
    }
    .media-progress {
        
        margin: 5px;
        max-width: 800px;
        & > div > div {
            transition: background .1s;
        }
        &:hover > div > div {
            background: var(--primary);
        }
    }
}