.media-container {
    & > .media-video {
        height: 0;
        padding-top: 56.25%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    & > .media-album {
        width: 100%;
        text-align: center;
        background-color: black;
        max-width: 100%;
        height: 100%;
        max-height: 350px;
        & > img {
            max-width: 100%;
            margin-bottom: -4px;
        }
    }
    .hidden {
        display: none;
    }

    .media-youtube-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: -4px;
    }
}