.navigation-card {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.navigation-card > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation-card > a {
  margin-left: 10px;
}
