.playlists-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.playlists-category {
    margin-bottom: 20px;
    width: 100%;
    &-header {
        display: flex;
        align-items: center;

        &>* {
            margin: 5px;
        }
    }

    &-title {
        font-size: 20px;
    }
    .playlists-preview-container {
            
        width: 100%;
        max-height: 560px;
        overflow-y: hidden;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }
}
.playlists-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.playlists-item {
    flex: 0 0 200px;
    height: 260px;
    overflow: hidden;

    transition: box-shadow .2s;
    box-shadow: var(--box-shadow);
    margin: 10px;

    border-radius: 20px;

    &>img {
        height: 200px;
        opacity: 0.8;
    }

    &:active {
        box-shadow: var(--box-shadow-inset);
    }

    &-text {
        padding: 0 10px;
        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.playlist-header {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}
.playlist-list {
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}
.playlist-track {
    display: flex;
    margin: 0 5px;
    align-items: center;
    padding-right: 10px;
    &:not(.playlist-track-captions) {
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        margin: 5px;
    }
    & > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 5px;
    }
    &-action {
        width: 36px;
        opacity: 0;
        transition: opacity .1s;
        &:hover svg {
            fill: var(--primary);
        }
    }
    &:hover &-action {
        opacity: 1;
    }
    &-title {
        flex: 3;
    }
    &-secondary {
        flex: 2;
    }
    &-tertiary {
        flex: 2;
    }
    &-duration {
        flex: 0 0 50px;
        text-align: right;
    }
    &.playlist-track-active {
        box-shadow: var(--box-shadow-inset);
        color: var(--primary);
    }
}

@media screen and (max-width: 1420px) {
    .playlist-track-tertiary {
        display: none;
        flex: 0 0 0;
    }
}