.playlists-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.playlists-content {
    overflow-y: hidden;
    width: 100%;
}

.playlists-category {
    margin-bottom: 20px;
    width: 100%;

    &-header {
        display: flex;
        align-items: center;

        &>* {
            margin: 5px;
        }
    }

    &-title {
        font-size: 20px;
    }

    .playlists-preview-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.playlists-item {
    flex: 0 0 200px;
    min-height: 275px;
    width: 200px;
    overflow: hidden;

    transition: box-shadow .2s;
    box-shadow: var(--box-shadow);
    margin: 10px;

    border-radius: 20px;

    &>img {
        height: 200px;
        opacity: 0.8;
    }

    &:active {
        box-shadow: var(--box-shadow-inset);
    }

    &-text {
        padding: 0 10px;
    }
}