.search-form {
	margin: 10px;
}

.search-toggleButtons {
	margin-right: 10px;
}

.search-table table thead tr {
	th:nth-child(2) {
		// Artist
		width: 170px;
	}

	th:nth-child(3) {
		// Album
		width: 200px;
	}

	th:nth-child(4) {
		// Length
		width: 85px;
	}
}