.card-margin {
  margin-bottom: 10px !important;
}

.card-margin-large {
  margin-bottom: 32px !important;
}

.setting-separated {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .label-icon {
    vertical-align: top;
  }
}
